<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.robertkomarek.spielplatztreff">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	<application android:label="Spielplatztreff.Android" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDnf5j9mfOV1dT5eWYzP3sStNP5w-HVG0o" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!--If your application targets API 22 or lower, it may be necessary to add the WRITE_EXTERNAL_STORAGE permission to the manifest,
	as a child of the <manifest> element:-->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>